openapi: 3.0.0
info:
  contact:
    email: contact@kable.io
    name: Kable
    url: https://kable.io
  description: "The Kable API allows developers to manage customers, plans, and usage\
    \ data for their API.\n\n## API Host and Environments\n\nKable is accessible in\
    \ Live and Test environments for authentication and metering of client API requests.\
    \ You will have separate API keys to access each environment.\n\nYou should only\
    \ use Kable's Live environment for your own production data. All other configured\
    \ environments should use Kable's Test environment.\n\n## API Protocols and Headers\n\
    \nAll requests to the Kable API are made over HTTPS TLS v1.2+ to ensure security.\
    \ Calls made over HTTP will fail. Any requests without proper authentication will\
    \ also fail.\n\nThe Kable API uses standard JSON for requests and responses. Be\
    \ sure to set both the `Content-Type` and `Accept` headers on each request to\
    \ `application/json`.\n\nEach Kable API response includes a `requestId` as the\
    \ `X-REQUEST-ID` response header. The `requestId` is included on most responses\
    \ regardless whether the API request succeeded or failed. You can use this `requestId`\
    \ to help with debugging or when contacting support regarding a specific API call.\n\
    \n## API Versioning\n\nAll Kable endpoints are versioned. After the host, each\
    \ API can be found at `/api/vX/...` where X is the API version.\n\nWe strive to\
    \ ensure that changes to the Kable API are backward compatible. Sometimes, though,\
    \ we must break from older design paradigms to make the product better. When this\
    \ happens, a new version of the API is released.\n\nThe current version of the\
    \ Kable API is `v1`.\n\n"
  title: Kable API
  version: 1.0.0
externalDocs:
  description: Kable Documentation
  url: https://docs.kable.io
servers:
- description: Kable Live
  url: https://live.kable.io
- description: Kable Test
  url: https://test.kable.io
paths:
  /api/v1/bundles:
    get:
      description: Retrieve all bundles.
      operationId: getBundles
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BundleResponseDto'
                type: array
          description: Information about all bundles
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all bundles
      tags:
      - bundles
  /api/v1/bundles/{bundleId}:
    get:
      description: Retrieve a bundle.
      operationId: getBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The bundle ID
        example: bun_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleResponseDto'
          description: Information about your bundle
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get bundle
      tags:
      - bundles
  /api/v1/bundles/create:
    post:
      description: Create a bundle.
      operationId: createBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBundleRequestDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BundleResponseDto'
                type: array
          description: Bundle successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create bundle
      tags:
      - bundles
  /api/v1/bundles/{bundleId}/update:
    post:
      description: Update a bundle.
      operationId: updateBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The bundle ID
        example: bun_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBundleRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleResponseDto'
          description: Bundle successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update bundle
      tags:
      - bundles
  /api/v1/bundles/{bundleId}/delete:
    post:
      description: |-
        Delete a bundle.

        You cannot delete a bundle to which a customer is actively subscribed.
      operationId: deleteBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The bundle ID
        example: bun_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Bundle successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: delete bundle
      tags:
      - bundles
  /api/v1/customers:
    get:
      description: Retrieve all customers.
      operationId: getCustomers
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerResponseDto'
                type: array
          description: Information about all customers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all customers
      tags:
      - customers
  /api/v1/customers/{customerId}:
    get:
      description: Retrieve a customer.
      operationId: getCustomer
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: information about your customer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get customer
      tags:
      - customers
  /api/v1/customers/create:
    post:
      description: |-
        Create a new customer. Call this when a new customer signs up for your API.

        You can this API in the `LIVE` or `TEST` environment and the outcome will be the same. Customers exist across environments. Handling of subsequent customer requests in a given environment are governed by the environment-specific keys (`LIVE` or `TEST`) they use to authenticate.

        Note that clients can also be created manually from within the Customers tab of your Kable dashboard.
      operationId: createCustomer
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: "When true, Kable will also create and attach a Stripe customer.\n\
          \nIf your account is not connected to Stripe, the request will fail. If\
          \ you provide a `stripeCustomerId` in the request body, this query parameter\
          \ will be ignored."
        example: true
        explode: true
        in: query
        name: stripe
        required: false
        schema:
          type: boolean
        style: form
      - description: "When true, Kable will create API keys for this customer. (This\
          \ is only necessary if you use Kable for authentication.)"
        example: true
        explode: true
        in: query
        name: keys
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseWithKeysDto'
          description: New customer successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create customer
      tags:
      - customers
  /api/v1/customers/{customerId}/update:
    post:
      description: |-
        Update a customer. Call this to programmatically update information about an existing customer.

        Note that clients can also be updated manually from within the Customers tab of your Kable dashboard.
      operationId: updateCustomer
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update customer
      tags:
      - customers
  /api/v1/customers/{customerId}/cancel:
    post:
      description: Cancelling a customer will update its status to `CANCELLED` and
        terminate all future billing.
      operationId: cancelCustomer
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer successfully cancelled
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: cancel a customer
      tags:
      - customers
  /api/v1/customers/{customerId}/delete:
    post:
      description: "Deleting a customer will erase all record of the customer identity\
        \ in Kable. This action is irreversible, and should only be used for the purposes\
        \ of GDPR / CCPA."
      operationId: deleteCustomer
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Customer successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: delete customer
      tags:
      - customers
  /api/v1/customers/{customerId}/plans/add:
    post:
      description: |-
        Add a plan(s) to a customer.

        Note that customer plans can also be added and removed manually from within the Customers tab of your Kable dashboard.
      operationId: createCustomerPlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPlansRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer plan successfully added
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: add customer plan(s)
      tags:
      - customers
  /api/v1/customers/{customerId}/plans/remove:
    post:
      description: |-
        Remove a plan(s) from a customer.

        Note that customer plans can also be added and removed manually from within the Customers tab of your Kable dashboard.
      operationId: removeCustomerPlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCustomerPlansRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer plan successfully removed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: remove customer plan(s)
      tags:
      - customers
  /api/v1/customers/{customerId}/bundles/add:
    post:
      description: |-
        Add a bundle to a customer.

        Note that customer bundles can also be added and removed manually from within the Customers tab of your Kable dashboard.
      operationId: createCustomerBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerBundleRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer bundle successfully added
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: add customer bundle
      tags:
      - customers
  /api/v1/customers/{customerId}/bundles/remove:
    post:
      description: |-
        Remove a bundle to a customer.

        Note that customer bundles can also be added and removed manually from within the Customers tab of your Kable dashboard.
      operationId: removeCustomerBundle
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCustomerBundleRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseDto'
          description: Customer bundle successfully removed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: remove customer bundle
      tags:
      - customers
  /api/v1/customers/{customerId}/payment_methods/add:
    post:
      description: "Collect a payment method / credit card for a customer.\n\nCalling\
        \ this method creates a short-lived [Stripe Checkout Session](https://stripe.com/payments/checkout)\
        \ to allow your customers to enter payment method details. This API will return\
        \ a Stripe URL to which you should redirect your customers to securely add\
        \ their credit card information. Upon completion, Stripe will redirect back\
        \ to the provided URLs."
      operationId: createCustomerPaymentMethod
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerPaymentMethodRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCustomerPaymentMethodResponseDto'
          description: Stripe Checkout Session successfully created to collect customer
            payment method
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: add customer payment method
      tags:
      - customers
  /api/v1/customers/{customerId}/credits/balance:
    get:
      description: Get a customer's available credit balance.
      operationId: getCustomerCreditBalance
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalanceResponseDto'
          description: Customer credit grant balance
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get customer credit balance
      tags:
      - customers
  /api/v1/customers/{customerId}/credits/create:
    post:
      description: Add a credit grant to a customer.
      operationId: createCustomerCreditGrant
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditGrantRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditGrantResponseDto'
          description: Credit grant successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create customer credit grant
      tags:
      - customers
  /api/v1/customers/{customerId}/entitlements:
    get:
      description: "Retrieve all customer entitlements, inferred from the customer's\
        \ plans."
      operationId: getCustomerEntitlements
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_2a3b4c5d6e7f8g9h0i1j2k3l4m5n6o7p
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerEntitlementResponseDto'
                type: array
          description: Information about all plan entitlements
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all customer entitlements
      tags:
      - customers
  /api/v1/customers/{customerId}/entitlements/{entitlementId}:
    get:
      description: Retrieve a customer entitlement.
      operationId: getCustomerEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The customer ID
        example: cus_2a3b4c5d6e7f8g9h0i1j2k3l4m5n6o7p
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_4d5e6f7g8h9i0j1k2l3m4n5o6p1a2b3c
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntitlementResponseDto'
          description: Information about a plan entitlements
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get customer entitlement
      tags:
      - customers
  /api/v1/dimensions:
    get:
      description: Retrieve all dimensions.
      operationId: getDimensions
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DimensionResponseDto'
                type: array
          description: Information about your dimensions
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all dimensions
      tags:
      - dimensions
  /api/v1/dimensions/{dimensionId}:
    get:
      description: Retrieve a dimension.
      operationId: getDimension
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The dimension ID
        example: dim_c5f32b8cd8934356b5167a3b2c6c6314
        explode: false
        in: path
        name: dimensionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseDto'
          description: Information about your dimension
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get dimension
      tags:
      - dimensions
  /api/v1/dimensions/create:
    post:
      description: Create a dimension.
      operationId: createDimension
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDimensionRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseDto'
          description: Dimension successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create dimension
      tags:
      - dimensions
  /api/v1/dimensions/{dimensionId}/update:
    post:
      description: Update a dimension.
      operationId: updateDimension
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The dimension ID
        example: dim_c5f32b8cd8934356b5167a3b2c6c6314
        explode: false
        in: path
        name: dimensionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDimensionRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseDto'
          description: Dimension successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update dimension
      tags:
      - dimensions
  /api/v1/dimensions/{dimensionId}/delete:
    post:
      description: |-
        Delete a dimension.

         You cannot delete a dimension if it is in use by a plan.
      operationId: deleteDimension
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The dimension ID
        example: dim_c5f32b8cd8934356b5167a3b2c6c6314
        explode: false
        in: path
        name: dimensionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Dimension successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: delete dimension
      tags:
      - dimensions
  /api/v1/entitlements:
    get:
      description: Retrieve all entitlements.
      operationId: getEntitlements
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EntitlementResponseDto'
                type: array
          description: Information about all entitlements
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all entitlements
      tags:
      - entitlements
  /api/v1/entitlements/{entitlementId}:
    get:
      description: Retrieve an entitlement.
      operationId: getEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_a44e148584d0463482c961b7f62f825d
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementResponseDto'
          description: Information about the entitlement
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get entitlement
      tags:
      - entitlements
  /api/v1/entitlements/create:
    post:
      description: Create an entitlement.
      operationId: createEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitlementDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementResponseDto'
          description: Entitlement successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create entitlement
      tags:
      - entitlements
  /api/v1/entitlements/{entitlementId}/update:
    post:
      description: Update an entitlement.
      operationId: updateEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_a44e148584d0463482c961b7f62f825d
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntitlementDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementResponseDto'
          description: Entitlement successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update entitlement
      tags:
      - entitlements
  /api/v1/entitlements/{entitlementId}/delete:
    post:
      description: Delete an entitlement.
      operationId: deleteEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_a44e148584d0463482c961b7f62f825d
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Entitlement successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: delete entitlement
      tags:
      - entitlements
  /api/v1/plans:
    get:
      description: Retrieve all plans.
      operationId: getPlans
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlanResponseDto'
                type: array
          description: Information about all plans
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all plans
      tags:
      - plans
  /api/v1/plans/{planId}:
    get:
      description: Retrieve a plan.
      operationId: getPlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponseDto'
          description: Information about your plan
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get plan
      tags:
      - plans
  /api/v1/plans/create:
    post:
      description: Create a plan.
      operationId: createPlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponseDto'
          description: Plan successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create plan
      tags:
      - plans
  /api/v1/plans/{planId}/update:
    post:
      description: Update a plan.
      operationId: updatePlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponseDto'
          description: Plan successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update plan
      tags:
      - plans
  /api/v1/plans/{planId}/delete:
    post:
      description: |-
        Delete a plan.

        You cannot delete a plan to which a customer is actively subscribed.
      operationId: deletePlan
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Plan successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: delete plan
      tags:
      - plans
  /api/v1/plans/{planId}/entitlements:
    get:
      description: Retrieve all plan entitlements.
      operationId: getAllPlanEntitlements
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlanEntitlementResponseDto'
                type: array
          description: Information about all plan entitlements
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all plan entitlements
      tags:
      - plans
  /api/v1/plans/{planId}/entitlements/{entitlementId}:
    get:
      description: Retrieve a plan entitlement.
      operationId: getPlanEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_a44e148584d0463482c961b7f62f825d
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanEntitlementResponseDto'
          description: Information about the plan entitlement
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get plan entitlement
      tags:
      - plans
  /api/v1/plans/{planId}/entitlements/{entitlementId}/update:
    post:
      description: Update a plan entitlement.
      operationId: updatePlanEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - description: The entitlement ID
        example: ent_a44e148584d0463482c961b7f62f825d
        explode: false
        in: path
        name: entitlementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanEntitlementRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanEntitlementResponseDto'
          description: Plan entitlement successfully updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: update plan entitlement
      tags:
      - plans
  /api/v1/plans/{planId}/entitlements/add:
    post:
      description: Add an entitlement to a plan.
      operationId: addPlanEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlanEntitlementRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponseDto'
          description: Plan entitlement successfully added
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: add plan entitlement
      tags:
      - plans
  /api/v1/plans/{planId}/entitlements/remove:
    post:
      description: Remove an entitlement from a plan.
      operationId: removePlanEntitlement
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The plan ID
        example: pln_a23e148584d0463482c961b7f62f824c
        explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePlanEntitlementRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponseDto'
          description: Plan entitlement successfully removed
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: remove plan entitlement
      tags:
      - plans
  /api/v1/invoices:
    get:
      description: Retrieve all invoices.
      operationId: getInvoices
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: A Kable-defined identifier for the customer.
        example: cus_8276e1ac8ed84d21c64f31ae0082fe
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - description: "A unique identifier for the customer, defined by you."
        example: yourcompanyuser_1234567890
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceResponseDto'
                type: array
          description: Information about all invoices
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get all invoices
      tags:
      - invoices
  /api/v1/invoices/{invoiceId}:
    get:
      description: Retrieve an invoice
      operationId: getInvoice
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The invoice ID
        example: inv_346daaa242674b179ecc44f43b5b9db4
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseDto'
          description: Information about an invoice
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get invoice
      tags:
      - invoices
  /api/v1/invoices/{invoiceId}/download:
    get:
      description: Download an invoice
      operationId: downloadInvoice
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      - description: The invoice ID
        example: inv_346daaa242674b179ecc44f43b5b9db4
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: string
        style: simple
      - description: The downloaded file format
        example: pdf
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - pdf
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Invoice successfully downloaded
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: download invoice
      tags:
      - invoices
  /api/v1/tokens/create:
    post:
      description: Generate a new access token for embedding Kable dashboards within
        your developer portal.
      operationId: createToken
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardTokenResponseDto'
          description: Token successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: create token
      tags:
      - tokens
  /api/v1/usage/get:
    post:
      description: Retrieve a usage metric for a given dimension from Kable.
      operationId: getUsage
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageMetricRequestDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageMetricResponseDto'
          description: Usage metrics
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: get usage metric
      tags:
      - usage
  /api/v1/authenticate:
    post:
      description: "Learn more about Kable as an Authentication Provider in the [documentation](https://docs.kable.io/docs/kable-as-an-authentication-provider)."
      operationId: doAuthentication
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: The client ID of the customer to authenticate.
        explode: false
        in: header
        name: X-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: An API key to authenticate for the provided X-Client-Id.
        explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
      summary: authenticate API request
      tags:
      - authentication
  /api/v1/events/create:
    post:
      description: |-
        Record information about something that happened in your API.

        Kable uses events to perform metering and usage-based billing calculations.
      operationId: createEvent
      parameters:
      - description: "Your Kable client ID, found in the dashboard of your Kable account."
        explode: false
        in: header
        name: Kable-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - description: Your `LIVE` or `TEST` secret key.
        explode: false
        in: header
        name: Kable-Client-Secret
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EventDto'
              type: array
        description: An event or list of usage events to record.
        required: true
      responses:
        "200":
          description: Events successfully recorded
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage401'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage500'
          description: Something went wrong
      summary: record events
      tags:
      - events
components:
  schemas:
    ErrorMessage401:
      properties:
        message:
          description: Human-readable error message
          example: Unauthorized
          type: string
      required:
      - message
      type: object
    ErrorMessage500:
      properties:
        message:
          description: Human-readable error message
          example: Something went wrong
          type: string
      required:
      - message
      type: object
    PriceTierResponseDto:
      properties:
        type:
          description: The tier price type
          enum:
          - UNIT
          - PACKAGE
          - FLAT
          - PERCENTAGE
          - SUBSCRIPTION
          - MINIMUM
          - MAXIMUM
          - DISCOUNT
          example: UNIT
          type: string
        amount:
          description: The tier price amount
          example: 199.99
          type: number
        start:
          description: The tier start amount
          example: 0
          type: number
        finish:
          description: The tier finish amount (infinity indicated by -1)
          example: -1
          type: number
        packageSize:
          description: The tier package size (only applicable to package price tiers)
          example: 1000
          type: number
      required:
      - amount
      - type
      type: object
    PlanPriceResponseDto:
      properties:
        currency:
          description: Three-letter ISO currency code
          enum:
          - USD
          - CAD
          - MXN
          - EUR
          - GBP
          - JPY
          - INR
          - CNY
          - AUD
          - NZD
          - AED
          example: USD
          type: string
        tiers:
          description: The tiered pricing of the plan
          items:
            $ref: '#/components/schemas/PriceTierResponseDto'
          type: array
      required:
      - currency
      - tiers
      type: object
    ResourceEntitlementResponseDto:
      example:
        datatype: STRING
        created: 2023-03-01T00:00:00Z
        name: Premium Support
        entitlementId: ent_a44e148584d0463482c961b7f62f825d
        externalId: yourcompany_entitlement789
        description: Customers have access to 24/7 premium support channels through
          Slack and email.
        modified: 2023-03-01T00:00:00Z
        value: true
      properties:
        name:
          description: The name of the entitlement
          example: Premium Support
          type: string
        entitlementId:
          description: A Kable-defined identifier for the entitlement.
          example: ent_a44e148584d0463482c961b7f62f825d
          type: string
        externalId:
          description: An identifier for the entitlement as defined by your API.
          example: yourcompany_entitlement789
          type: string
        datatype:
          description: The type of data supported by the entitlement.
          example: STRING
          type: string
        description:
          description: A description of the entitlement.
          example: Customers have access to 24/7 premium support channels through
            Slack and email.
          type: string
        created:
          description: Date at which entity was first created
          example: 2023-03-01T00:00:00Z
          format: date-time
          type: string
        modified:
          description: Date at which entity was last modified
          example: 2023-03-01T00:00:00Z
          format: date-time
          type: string
        value:
          description: The value of the entitlement.
          example: true
          type: object
      required:
      - created
      - datatype
      - description
      - entitlementId
      - externalId
      - modified
      - name
      - value
      type: object
    PlanResponseDto:
      example:
        entitlements:
        - datatype: STRING
          created: 2023-03-01T00:00:00Z
          name: Premium Support
          entitlementId: ent_a44e148584d0463482c961b7f62f825d
          externalId: yourcompany_entitlement789
          description: Customers have access to 24/7 premium support channels through
            Slack and email.
          modified: 2023-03-01T00:00:00Z
          value: true
        - datatype: STRING
          created: 2023-03-01T00:00:00Z
          name: Premium Support
          entitlementId: ent_a44e148584d0463482c961b7f62f825d
          externalId: yourcompany_entitlement789
          description: Customers have access to 24/7 premium support channels through
            Slack and email.
          modified: 2023-03-01T00:00:00Z
          value: true
        metadata:
          foo: bar
        created: 2022-03-01T00:00:00Z
        externalId: yourcompany_plan123
        description: A usage plan based on the number of API requests
        aggregation: COUNT
        type: USAGE
        dimensionId: dim_c5f32b8cd8934356b5167a3b2c6c6314
        price: null
        name: Requests Usage Plan
        nickname: requests_usage_v1
        modified: 2022-03-01T00:00:00Z
        planId: pln_a23e148584d0463482c961b7f62f824c
        interval: MONTH
      properties:
        planId:
          description: A Kable-defined identifier for the plan.
          example: pln_a23e148584d0463482c961b7f62f824c
          type: string
        name:
          description: "A human-readable name for the plan, visible on dashboards,\
            \ invoices, and reports."
          example: Requests Usage Plan
          type: string
        externalId:
          description: An identifier for the plan as defined by your API.
          example: yourcompany_plan123
          type: string
        description:
          description: "A human-readable description for the plan, visible on dashboards,\
            \ invoices, and reports."
          example: A usage plan based on the number of API requests
          type: string
        nickname:
          description: "An additional identifier for the plan, defined by you, that\
            \ is *not* visible to customers. If you have different *Monthly Active\
            \ Users Plan*s for different cohorts of customers, this is a useful place\
            \ to differentiate those."
          example: requests_usage_v1
          type: string
        type:
          description: The type of plan.
          enum:
          - USAGE
          - SUBCRIPTION
          example: USAGE
          type: string
        dimensionId:
          description: "An identifier of the dimension along which usage is aggregated\
            \ in this plan, relevant only for usage plans."
          example: dim_c5f32b8cd8934356b5167a3b2c6c6314
          type: string
        aggregation:
          description: "The aggregation along which usage metrics are calculated in\
            \ this plan, relevant only for usage plans."
          example: COUNT
          type: string
        interval:
          description: The billing interval for the plan.
          enum:
          - MONTH
          example: MONTH
          type: string
        metadata:
          description: Arbitrary key-value pairs to attach to the object that can
            be useful for controlling functionality inside your API.
          example:
            foo: bar
          type: object
        price:
          $ref: '#/components/schemas/PlanResponseDto_price'
        entitlements:
          description: The entitlements associated with this plan.
          items:
            $ref: '#/components/schemas/ResourceEntitlementResponseDto'
          type: array
        created:
          description: Date at which entity was first created
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
        modified:
          description: Date at which entity was last modified
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
      required:
      - created
      - dimensionId
      - entitlements
      - interval
      - modified
      - name
      - planId
      - price
      - type
      type: object
    BundleResponseDto:
      example:
        metadata:
          foo: bar
        plans:
        - entitlements:
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          metadata:
            foo: bar
          created: 2022-03-01T00:00:00Z
          externalId: yourcompany_plan123
          description: A usage plan based on the number of API requests
          aggregation: COUNT
          type: USAGE
          dimensionId: dim_c5f32b8cd8934356b5167a3b2c6c6314
          price: null
          name: Requests Usage Plan
          nickname: requests_usage_v1
          modified: 2022-03-01T00:00:00Z
          planId: pln_a23e148584d0463482c961b7f62f824c
          interval: MONTH
        - entitlements:
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          metadata:
            foo: bar
          created: 2022-03-01T00:00:00Z
          externalId: yourcompany_plan123
          description: A usage plan based on the number of API requests
          aggregation: COUNT
          type: USAGE
          dimensionId: dim_c5f32b8cd8934356b5167a3b2c6c6314
          price: null
          name: Requests Usage Plan
          nickname: requests_usage_v1
          modified: 2022-03-01T00:00:00Z
          planId: pln_a23e148584d0463482c961b7f62f824c
          interval: MONTH
        created: 2022-03-01T00:00:00Z
        bundleId: bun_a23e148584d0463482c961b7f62f824c
        name: Professional Package
        nickname: professional_2022
        externalId: yourcompany_bun123
        description: The perfect package for scaling businesses
        modified: 2022-03-01T00:00:00Z
        currency: USD
      properties:
        bundleId:
          description: A Kable-defined identifier for the bundle.
          example: bun_a23e148584d0463482c961b7f62f824c
          type: string
        name:
          description: "A human-readable name for the bundle, visible on dashboards,\
            \ invoices, and reports."
          example: Professional Package
          type: string
        externalId:
          description: An identifier for the bundle as defined by your API.
          example: yourcompany_bun123
          type: string
        description:
          description: "A human-readable description for the bundle, visible on dashboards,\
            \ invoices, and reports."
          example: The perfect package for scaling businesses
          type: string
        nickname:
          description: "An additional identifier for the bundle, defined by you, that\
            \ is *not* visible to customers. If you have different *Monthly Active\
            \ Users Bundle*s for different cohorts of customers, this is a useful\
            \ place to differentiate those."
          example: professional_2022
          type: string
        currency:
          description: Three-letter ISO currency code
          enum:
          - USD
          - CAD
          - MXN
          - EUR
          - GBP
          - JPY
          - INR
          - CNY
          - AUD
          - NZD
          - AED
          example: USD
          type: string
        plans:
          description: The plans included in this bundle.
          items:
            $ref: '#/components/schemas/PlanResponseDto'
          type: array
        metadata:
          description: Arbitrary key-value pairs to attach to the object that can
            be useful for controlling functionality inside your API.
          example:
            foo: bar
          type: object
        created:
          description: Date at which entity was first created
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
        modified:
          description: Date at which entity was last modified
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
      required:
      - bundleId
      - created
      - currency
      - modified
      - name
      type: object
    CreateBundleRequestDto:
      example:
        planIds:
        - planIds
        - planIds
        metadata: "{}"
        bundleId: bundleId
        name: name
        nickname: nickname
        externalId: externalId
        description: description
        costPerCredit: 0.8008281904610115
        currency: currency
      properties:
        bundleId:
          type: string
        name:
          type: string
        externalId:
          type: string
        description:
          type: string
        nickname:
          type: string
        planIds:
          items:
            type: string
          type: array
        currency:
          type: string
        costPerCredit:
          type: number
        metadata:
          type: object
      required:
      - bundleId
      - name
      type: object
    UpdateBundleRequestDto:
      example:
        planIds:
        - planIds
        - planIds
        metadata: "{}"
        bundleId: bundleId
        name: name
        nickname: nickname
        externalId: externalId
        description: description
        costPerCredit: 0.8008281904610115
        currency: currency
      properties:
        bundleId:
          type: string
        name:
          type: string
        externalId:
          type: string
        description:
          type: string
        nickname:
          type: string
        planIds:
          items:
            type: string
          type: array
        currency:
          type: string
        costPerCredit:
          type: number
        metadata:
          type: object
      type: object
    BillingContactRequestDto:
      properties:
        firstName:
          description: Contact's first name.
          example: Bruce
          type: string
        lastName:
          description: Contact's last name.
          example: Wayne
          type: string
        email:
          description: Contact's email address.
          example: bruce@wayneenterprises.com
          type: string
        phone:
          description: Contact's phone number.
          example: 555-555-5555
          type: string
        addressLine1:
          description: First line of contact's mailing address.
          example: 1007 Mountain Drive
          type: string
        addressLine2:
          description: Second line of contact's mailing address.
          example: Apt 1
          type: string
        city:
          description: City of contact's mailing address.
          example: Gotham
          type: string
        state:
          description: State of contact's mailing address.
          example: NY
          type: string
        postalCode:
          description: Postal code of contact's mailing address.
          example: "10001"
          type: string
        country:
          description: Country of contact's mailing address.
          example: US
          type: string
      type: object
    CustomerPlanResponseDto:
      example:
        entitlements:
        - datatype: STRING
          created: 2023-03-01T00:00:00Z
          name: Premium Support
          entitlementId: ent_a44e148584d0463482c961b7f62f825d
          externalId: yourcompany_entitlement789
          description: Customers have access to 24/7 premium support channels through
            Slack and email.
          modified: 2023-03-01T00:00:00Z
          value: true
        - datatype: STRING
          created: 2023-03-01T00:00:00Z
          name: Premium Support
          entitlementId: ent_a44e148584d0463482c961b7f62f825d
          externalId: yourcompany_entitlement789
          description: Customers have access to 24/7 premium support channels through
            Slack and email.
          modified: 2023-03-01T00:00:00Z
          value: true
        periodStartDate: 2000-01-23T04:56:07.000+00:00
        metadata:
          foo: bar
        addedDate: 2000-01-23T04:56:07.000+00:00
        endedDate: 2000-01-23T04:56:07.000+00:00
        created: 2022-03-01T00:00:00Z
        externalId: yourcompany_plan123
        description: A usage plan based on the number of API requests
        aggregation: COUNT
        type: USAGE
        periodEndDate: 2000-01-23T04:56:07.000+00:00
        dimensionId: dim_c5f32b8cd8934356b5167a3b2c6c6314
        price: null
        name: Requests Usage Plan
        nickname: requests_usage_v1
        modified: 2022-03-01T00:00:00Z
        planId: pln_a23e148584d0463482c961b7f62f824c
        interval: MONTH
      properties:
        planId:
          description: A Kable-defined identifier for the plan.
          example: pln_a23e148584d0463482c961b7f62f824c
          type: string
        name:
          description: "A human-readable name for the plan, visible on dashboards,\
            \ invoices, and reports."
          example: Requests Usage Plan
          type: string
        externalId:
          description: An identifier for the plan as defined by your API.
          example: yourcompany_plan123
          type: string
        description:
          description: "A human-readable description for the plan, visible on dashboards,\
            \ invoices, and reports."
          example: A usage plan based on the number of API requests
          type: string
        nickname:
          description: "An additional identifier for the plan, defined by you, that\
            \ is *not* visible to customers. If you have different *Monthly Active\
            \ Users Plan*s for different cohorts of customers, this is a useful place\
            \ to differentiate those."
          example: requests_usage_v1
          type: string
        type:
          description: The type of plan.
          enum:
          - USAGE
          - SUBCRIPTION
          example: USAGE
          type: string
        dimensionId:
          description: "An identifier of the dimension along which usage is aggregated\
            \ in this plan, relevant only for usage plans."
          example: dim_c5f32b8cd8934356b5167a3b2c6c6314
          type: string
        aggregation:
          description: "The aggregation along which usage metrics are calculated in\
            \ this plan, relevant only for usage plans."
          example: COUNT
          type: string
        interval:
          description: The billing interval for the plan.
          enum:
          - MONTH
          example: MONTH
          type: string
        metadata:
          description: Arbitrary key-value pairs to attach to the object that can
            be useful for controlling functionality inside your API.
          example:
            foo: bar
          type: object
        price:
          $ref: '#/components/schemas/PlanResponseDto_price'
        entitlements:
          description: The entitlements associated with this plan.
          items:
            $ref: '#/components/schemas/ResourceEntitlementResponseDto'
          type: array
        created:
          description: Date at which entity was first created
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
        modified:
          description: Date at which entity was last modified
          example: 2022-03-01T00:00:00Z
          format: date-time
          type: string
        addedDate:
          format: date-time
          type: string
        endedDate:
          format: date-time
          type: string
        periodStartDate:
          format: date-time
          type: string
        periodEndDate:
          format: date-time
          type: string
      required:
      - addedDate
      - created
      - dimensionId
      - entitlements
      - interval
      - modified
      - name
      - planId
      - price
      - type
      type: object
    CustomerBundleResponseDto:
      example:
        metadata:
          foo: bar
        plans:
        - entitlements:
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          - datatype: STRING
            created: 2023-03-01T00:00:00Z
            name: Premium Support
            entitlementId: ent_a44e148584d0463482c961b7f62f825d
            externalId: yourcompany_entitlement789
            description: Customers have access to 24/7 premium support channels through
              Slack and email.
            modified: 2023-03-01T00:00:00Z
            value: true
          metadata:
            foo: bar
          created: 2022-03-01T00:00:00Z
          externalId: yourcompany_plan123
          description: A usage plan based on the number of API requests
          aggregation: COUNT
          type: USAGE
          dimensionId: dim_c5f32b8cd8934356b5167a3b2c6c6314
          price: null
          name: Requests Usage Plan
          nickname: requests_usage_v1
          modified: 2022-03-01T00:00:00Z
[...]
